


services:
  mail:
    image: ${REGISTRY_MIRROR_URL:-}ghcr.io/egos-tech/smtp:1.1.3
    restart: always
    environment:
      - "SES_USER=${SES_USER}"
      - "SES_PASSWORD=${SES_PASSWORD}"
      - "SES_REGION=${SES_REGION}"
      - "SES_PORT=${SES_PORT}"
      - "SMARTHOST_ADDRESS=${SMARTHOST_ADDRESS}"
      - "SMARTHOST_PORT=${SMARTHOST_PORT}"
      - "SMARTHOST_USER=${SMARTHOST_USER}"
      - "SMARTHOST_PASSWORD=${SMARTHOST_PASSWORD}"
      - "SMARTHOST_ALIASES=${SMARTHOST_ALIASES}"
      - "TZ=${TZ:-UTC}"

  redis:
    image: ${REGISTRY_MIRROR_URL:-}valkey/valkey:7.2
    restart: always
    command: |
      sh -c '
        if [ "$${ENABLE_REDIS_EMPTY_PASSWORD:-false}" = "true" ]; then
          exec valkey-server
        else
          exec valkey-server --requirepass "$${REDIS_PASSWORD:-redispassword}"
        fi
      '
    environment:
      - "ENABLE_REDIS_EMPTY_PASSWORD=${ENABLE_REDIS_EMPTY_PASSWORD:-false}"
      - "REDIS_PASSWORD=${REDIS_PASSWORD:-redispassword}"
      - "TZ=${TZ:-UTC}"
    healthcheck:
      test: |
        sh -c '
          if [ "$${ENABLE_REDIS_EMPTY_PASSWORD:-false}" = "true" ]; then
            valkey-cli -p $${REDIS_PORT:-6379} ping | grep -q PONG || exit 1
          else
            valkey-cli -a "$${REDIS_PASSWORD:-redispassword}" -p $${REDIS_PORT:-6379} ping | grep -q PONG || exit 1
          fi
        '
      interval: 2s
      timeout: 1s
      retries: 3
      start_period: 5s
      start_interval: 5s
    volumes:
      - /mnt/data/misp/redis:/data:Z

  db:
    image: ${REGISTRY_MIRROR_URL:-}mariadb:10.11
    restart: always
    environment:
      - "MYSQL_USER=${MYSQL_USER:-misp}"
      - "MYSQL_PASSWORD=${MYSQL_PASSWORD:-example}"
      - "MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-password}"
      - "MYSQL_DATABASE=${MYSQL_DATABASE:-misp}"
      - "TZ=${TZ:-UTC}"
    command: "\
      --innodb-buffer-pool-size=${INNODB_BUFFER_POOL_SIZE:-2048M} \
      --innodb-change-buffering=${INNODB_CHANGE_BUFFERING:-none} \
      --innodb-io-capacity=${INNODB_IO_CAPACITY:-1000} \
      --innodb-io-capacity-max=${INNODB_IO_CAPACITY_MAX:-2000} \
      --innodb-log-file-size=${INNODB_LOG_FILE_SIZE:-600M} \
      --innodb-read-io-threads=${INNODB_READ_IO_THREADS:-16} \
      --innodb-stats-persistent=${INNODB_STATS_PERSISTENT:-ON} \
      --innodb-write-io-threads=${INNODB_WRITE_IO_THREADS:-4}"
    volumes:
      - /mnt/data/misp/mysql:/var/lib/mysql:Z
    cap_add:
      - SYS_NICE
    healthcheck:
      test: mysqladmin --user=$$MYSQL_USER --password=$$MYSQL_PASSWORD status
      interval: 2s
      timeout: 1s
      retries: 3
      start_period: 30s
      start_interval: 5s

  misp-core:
    image: ${REGISTRY_MIRROR_URL:-}ghcr.io/misp/misp-docker/misp-core:${CORE_RUNNING_TAG:-latest}
    restart: always
    cap_add:
      - AUDIT_WRITE
    build:
      context: core/.
      args:
        - CORE_TAG=${CORE_TAG:?Missing or outdated .env file, see README.md for instructions}
        - CORE_COMMIT=${CORE_COMMIT}
        - CORE_FLAVOR=${CORE_FLAVOR:-standard}
        - PHP_VER=${PHP_VER:?Missing or outdated .env file, see README.md for instructions}
        - PYPI_REDIS_VERSION=${PYPI_REDIS_VERSION}
        - PYPI_LIEF_VERSION=${PYPI_LIEF_VERSION}
        - PYPI_PYDEEP2_VERSION=${PYPI_PYDEEP2_VERSION}
        - PYPI_PYTHON_MAGIC_VERSION=${PYPI_PYTHON_MAGIC_VERSION}
        - PYPI_MISP_LIB_STIX2_VERSION=${PYPI_MISP_LIB_STIX2_VERSION}
        - PYPI_MAEC_VERSION=${PYPI_MAEC_VERSION}
        - PYPI_MIXBOX_VERSION=${PYPI_MIXBOX_VERSION}
        - PYPI_CYBOX_VERSION=${PYPI_CYBOX_VERSION}
        - PYPI_PYMISP_VERSION=${PYPI_PYMISP_VERSION}
        - PYPI_MISP_STIX_VERSION=${PYPI_MISP_STIX_VERSION}
        - PYPI_TAXII2_CLIENT=${PYPI_TAXII2_CLIENT}
        - PYPI_SETUPTOOLS_VERSION=${PYPI_SETUPTOOLS_VERSION}
        - PYPI_SUPERVISOR_VERSION=${PYPI_SUPERVISOR_VERSION}
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
      misp-modules:
        condition: service_healthy
    healthcheck:
      test: curl -ks ${BASE_URL:-https://localhost}/users/heartbeat > /dev/null || exit 1
      interval: 2s
      timeout: 1s
      retries: 3
      start_period: 30s
      start_interval: 30s
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - /mnt/data/misp/configs:/var/www/MISP/app/Config/:Z
      - /mnt/data/misp/logs:/var/www/MISP/app/tmp/logs/:Z
      - /mnt/data/misp/files:/var/www/MISP/app/files/:Z
      - /mnt/data/misp/ssl:/etc/nginx/certs/:Z
      - /mnt/data/misp/gnupg:/var/www/MISP/.gnupg/:Z
      - /mnt/data/misp/guard-ca:/usr/local/share/ca-certificates/misp_guard:Z
    env_file: .env
    environment:
      - "BASE_URL=${BASE_URL}"
      - "CRON_USER_ID=${CRON_USER_ID}"
      - "MYSQL_HOST=${MYSQL_HOST:-db}"
      - "MYSQL_USER=${MYSQL_USER:-misp}"
      - "MYSQL_PASSWORD=${MYSQL_PASSWORD:-example}"
      - "MYSQL_DATABASE=${MYSQL_DATABASE:-misp}"
      - "REDIS_HOST=${REDIS_HOST:-redis}"
      - "REDIS_PASSWORD=${REDIS_PASSWORD:-redispassword}"
      - "ENCRYPTION_KEY=${ENCRYPTION_KEY}"
      - "ADMIN_EMAIL=${ADMIN_EMAIL}"
      - "ADMIN_PASSWORD=${ADMIN_PASSWORD}"
      - "ADMIN_KEY=${ADMIN_KEY}"
      - "ADMIN_ORG=${ADMIN_ORG}"
      - "TZ=${TZ:-UTC}"

  misp-modules:
    image: ${REGISTRY_MIRROR_URL:-}ghcr.io/misp/misp-docker/misp-modules:${MODULES_RUNNING_TAG:-latest}
    restart: always
    build:
      context: modules/.
      args:
        - MODULES_TAG=${MODULES_TAG:?Missing or outdated .env file, see README.md for instructions}
        - MODULES_COMMIT=${MODULES_COMMIT}
        - MODULES_FLAVOR=${MODULES_FLAVOR:-standard}
    healthcheck:
      test: "/bin/bash -c '</dev/tcp/localhost/6666'"
      interval: 2s
      timeout: 1s
      retries: 3
      start_period: 5s
      start_interval: 5s
    volumes:
      - /mnt/data/misp/custom/action_mod:/custom/action_mod/:Z
      - /mnt/data/misp/custom/expansion:/custom/expansion/:Z
      - /mnt/data/misp/custom/export_mod:/custom/export_mod/:Z
      - /mnt/data/misp/custom/import_mod:/custom/import_mod/:Z
    environment:
      - "TZ=${TZ:-UTC}"

  misp-guard:
    profiles:
      - misp-guard
    restart: always
    image: ${REGISTRY_MIRROR_URL:-}ghcr.io/misp/misp-docker/misp-guard:${GUARD_RUNNING_TAG:-latest}
    build:
      context: guard/.
      args:
        - GUARD_TAG=${GUARD_TAG:?Missing or outdated .env file, see README.md for instructions}
        - GUARD_COMMIT=${GUARD_COMMIT}
    depends_on:
      - misp-core
    ports:
      - "${GUARD_PORT:-8888}:${GUARD_PORT:-8888}"
    environment:
      - "GUARD_PORT=${GUARD_PORT:-8888}"
      - "GUARD_ARGS=${GUARD_ARGS}"
      - "TZ=${TZ:-UTC}"
    volumes:
      - /mnt/data/misp/guard/config.json:/config.json:ro
      - /mnt/data/misp/guard-ca:/misp_guard_ca
    healthcheck:
      test: "/bin/bash -c '</dev/tcp/localhost/${GUARD_PORT:-8888}'"
      interval: 2m
      timeout: 5s
      retries: 3
      start_period: 10s





